.badge {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: calc(18em / 14);
}
.badge__icon {
	flex: 0 0 auto;
	font-size: 2em;
	line-height: calc(18em / 14);
	/* width: 1.2em; */
	padding-right: 6px;
	text-align: center;
}
.badge__labels {
	flex: 1 1 auto;
}
.badge__labels > * {
	margin: 0;
}
