.inventory {
	display: block;
}

.inventory-stack {
	display: inline-flex;
	flex-direction: row;
	width: 48px;

	border: 1px solid black;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	margin-right: 3px;
}

.inventory-stack__symbol,
.inventory-stack__quantity {
	flex: 0 0 50%;
	box-sizing: border-box;
}
.inventory-stack__symbol {
	text-align: right;
	padding: 0 3px;
}

.inventory-stack__quantity {
	border-left: 1px solid darkgray;
	text-align: left;
}
