.terrain {
	position: relative;
}

.terrain > div {
	position: absolute;
	transform: translate(-50%, -50%);
	transition: top 1s, left 1s;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.terrain > svg > polygon {
	fill: rgba(0, 0, 0, 0.1);
	stroke: black;
	stroke-width: 1;
}

/* .entity-marker--person {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}

.entity-marker--settlement {
	width: 10px;
	height: 3px;
	border: 1px solid black;
	background-color: palevioletred;
}
.entity-marker--factory {
	width: 4px;
	height: 6px;
	border: 1px solid black;
	background-color: lightskyblue;
} */
