.behavior-tree-node {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	flex: 1 1 100%;
}

.behavior-tree-node__label {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
	flex: 1 1 auto;
	border: 1px solid darkgray;
	text-align: center;
}

.behavior-tree-node__label--sequence {
	background-color: var(--color-hover);
}
.behavior-tree-node__label--selector {
	background-color: lightblue;
}
.behavior-tree-node__label--inverter {
	background-color: pink;
}

.behavior-tree-node__children {
	display: flex;
	flex-direction: row;
	margin-top: 1px;
}

.behavior-tree-node__children > * {
	margin-left: 1px;
}

.behavior-tree-node__children > *:first-child {
	margin-left: 0;
}
