.context-menu-item {
	line-height: 32px;
	white-space: nowrap;
	text-align: center;
	width: 8rem;
	background-color: #ffffff;
	margin-bottom: 1px;
}

.context-menu-item:last-of-type {
	margin-bottom: 0;
}
