.game-panels {
	position: absolute;
	bottom: var(--line-height);
	left: var(--line-height);
	right: var(--line-height);
	top: 33%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.game-panels > * {
	margin-left: var(--line-height);
	max-height: 100%;
	z-index: 3;
}
.game-panels > *:first-child {
	margin-left: 0;
}
