.game-navigation-button {
	display: block;
	font-size: calc(1.5 * var(--line-height));
	width: calc(3 * var(--line-height));
	height: calc(3 * var(--line-height));
	line-height: calc(3 * var(--line-height));
	white-space: nowrap;
	text-align: center;
	cursor: pointer;

}

.game-navigation-button {
	margin-top: var(--line-height);
}
.game-navigation-button:first-child {
	margin-top: 0;
}
.game-navigation-button:hover {
	background-color: var(--color-hover);
}
