.map-tile-context-menu {
	background-color: #e7e6e6;
}
.map-tile-context-menu_item {
	padding: 0.5em 1em;
}
.map-tile-context-menu_item--interactive {
	cursor: pointer;
}
.map-tile-context-menu_item--interactive:hover {
	background-color: antiquewhite;
}
.map-tile-context-menu_item--disabled {
	text-decoration: line-through;
}
