.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.roundGlassContainer {
	font-size: 118px;

	position: absolute;
	z-index: 10;
	box-sizing: border-box;
	bottom: 4rem;
	left: 2.5rem;
}

.info {
	width: 0;
	margin-left: 13em;
}
