body {
	background-color: #2c1810;
	color: #fff;
	font-family: sans-serif;
}

div[data-component='GameMap'] {
	z-index: 1;
	line-height: 1em;

	/*
	 * Because JS uses `em` and not pixels, here we decide how big one tile is:
	 */
	font-size: 32px;

	user-select: none;
}

div[data-component='GameActionBar'],
div[data-component='GameSelectedEntity'],
div[data-component='GameClock'] {
	position: absolute;
	z-index: 10;
	box-sizing: border-box;
}
div[data-component='GameClock'] {
	bottom: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: row-reverse;
	width: calc(20% - 1em);
	overflow: hidden;
}

div[data-component='GameSelectedEntity'] {
	bottom: 1rem;
	left: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: calc(20% - 1em);
	overflow: hidden;
}

div[data-component='GameActionBar'] {
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	gap: 3px;
	width: calc(60% - 2em);

	&.game-action-bar,
	& .game-action-bar {
		display: flex;
		flex-direction: row;
		gap: 0.25em;
	}
}
