@import url('./style/meta.css');

@import url('./components/GameUI.css');
@import url('./components/atoms/FillBar.css');
@import url('./inventory/InventoryUI.css');
@import url('./inventory/InventoryStack.css');
@import url('./components/atoms/Badge.css');
@import url('./components/atoms/CollapsibleWindow.css');
@import url('./components/atoms/Table.css');
@import url('./components/createContextMenu.css');
@import url('./application/GameClock.css');
@import url('./application/GamePanels.css');
@import url('./application/GameNavigation.css');

@import url('./context-menu/context-menu.css');
@import url('./modals/modals.css');

@import url('./prompts/EntityConstructionModal.css');

:root {
	--line-height: 18px;
	--border-radius-medium: 6px;
	--border-radius-small: 3px;

	--panel-background-color: rgba(255, 255, 255, 0.5);
	--panel-backdrop-filter: blur(20px);

	--color-hover: rgba(239, 243, 20, 0.425);
}

body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: var(--line-height);
	/* font-weight:bold */
}
* {
	font-size: inherit;
	text-align: inherit;
}

.panel {
	border: 1px solid #999;
	border-radius: var(--border-radius-medium);
	background-color: var(--panel-background-color);
	backdrop-filter: var(--panel-backdrop-filter);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.panel-header {
	margin: 3px;
	backdrop-filter: var(--panel-backdrop-filter);
	border-radius: var(--border-radius-small);
	padding: 0.25em 1em;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

body {
	background-color: #2c1810;
}

.please-wait {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em 4em;
}
