.badge {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.badge__icon {
	flex: 0 0 auto;
	font-size: calc(2 * var(--line-height));
	line-height: calc(2 * var(--line-height));
	padding-right: 3px;
}
.badge__labels {
	flex: 1 1 auto;
}
.badge__labels > * {
	margin: 0;
}
