@import url('./components/GameUI.css');
@import url('./components/atoms/FillBar.css');
@import url('./components/PersonEntityDetails.css');
@import url('./components/atoms/Badge.css');
/* @import url('./components/EntityList.css'); */

* {
	font-family: sans-serif;
	font-size: 14px;
	line-height: var(--line-height);
	text-align: inherit;
	/* font-weight:bold */
}

:root {
	--line-height: 18px;
}

table {
	width: 100%;
}
