.map-entity {
	position: absolute;
	transform: translate(-50%, -50%);
	transition: top 1s, left 1s;
	text-shadow: 0 0 5px black;
}

/* .map-entity--person {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
}

.map-entity--settlement {
	width: 10px;
	height: 3px;
	border: 1px solid black;
	background-color: palevioletred;
}
.map-entity--factory {
	width: 4px;
	height: 6px;
	border: 1px solid black;
	background-color: lightskyblue;
} */
