.map-terrain {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.map-terrain > svg > polygon {
	fill: #ddd;
	stroke: #666;
	stroke-width: 1;
	box-shadow: 0 0 10px black;
}
