.entity-path {
	display: flex;
	flex-direction: row;
	gap: 0.125em;
}

.entity-path-step {
	display: block;
	width: 1em;
	height: 1em;
	border: 1px solid #ccc;
	padding: 0.25em;
	border-radius: 0.25em;
}

.entity-path-step.current {
	background-color: #ccc;
}
