.entity-badge {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.entity-badge__icon {
	font-size: 2em;
	flex: 0 0 auto;
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
}
.entity-badge__labels {
	flex: 1 1 auto;
	height: 2em;
}
.entity-badge__labels > * {
	margin: 0;
	height: 1em;
	line-height: 1em;
}
