.entity-controls {
	display: flex;
}

.entity-preview-container {
	/* Set to the size of the FancyClock component, it cannot scale to us so we must scale to them */
	font-size: 118px;
}

.entity-preview {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
	border-radius: 50%;
	overflow: hidden;
}

.entity-info-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.entity-info {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.entity-tabs {
	display: flex;
	justify-content: flex-start;
	gap: 1em;
}
