.modal-backdrop {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: var(--panel-backdrop-filter);
}
.modal-backdrop,
.modal-backdrop > * {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.modal-backdrop > * {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal {
	display: flex;
	flex-direction: column;
	background-color: white;
	flex-basis: 80%;
	flex-shrink: 1;
	flex-grow: 0;
	max-height: 80%;
}
.modal-header,
.modal-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 0 0 auto;
}
.modal-body {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	overflow: auto;
}
