.panel {
	--panel-border-color: #999;
	/* --panel-background-color: rgba(255, 255, 255, 0.1); */
	--panel-backdrop-filter: blur(20px);
	--panel-box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);

	/* border: 3px solid transparent; */
	padding: 1em 2em;
	border-radius: var(--ui-border-radius-medium);
	background-color: var(--panel-background-color);
	backdrop-filter: var(--panel-backdrop-filter);
	box-shadow: 0 4px 14px -5px rgba(0, 0, 0, 0.5);
}
