.panel {
	--panel-backdrop-filter: blur(20px);
	--panel-box-shadow: 0 4px 14px -5px rgba(0, 0, 0, 0.5);

	/* border: 3px solid transparent; */
	padding: 0.25em;
	border-radius: var(--ui-border-radius-medium);
	box-shadow: var(--panel-box-shadow);

	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		backdrop-filter: var(--panel-backdrop-filter);
		border-radius: var(--ui-border-radius-medium);
	}
}
