.map-tile-context-menu {
	border: 1px solid #999;
	border-radius: var(--border-radius-medium);
	background-color: var(--panel-background-color);
	backdrop-filter: var(--panel-backdrop-filter);
}
.map-tile-context-menu_section {
	border-bottom: 1px solid #999;
}
.map-tile-context-menu_section:last-of-type {
	border-bottom: none;
}
.map-tile-context-menu_item {
	padding: 0.5em 1em;
}
.map-tile-context-menu_item--interactive {
	cursor: pointer;
}
.map-tile-context-menu_item--interactive:hover {
	background-color: antiquewhite;
}
.map-tile-context-menu_item--disabled {
	text-decoration: line-through;
}
