.tabbed-slider {
	width: 100%;
	overflow: hidden;
}

.tab-buttons {
	flex-direction: row;
	border-bottom: 1px solid red;
}

.tab-button {
	flex: 1 1 auto;
	display: inline-block;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	border: none;
	transition: background-color 0.3s ease;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

.tab-button.active {
	background-color: #d0d0d0;
}

.tab-content {
	overflow: hidden;
}

.tab-content-inner {
	display: flex;
	transition: transform 0.5s ease;
	width: 100%;
}

.tab-panel {
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}
