.entity-badge {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	white-space: nowrap;
}
.entity-badge__icon {
	font-size: 2em;
	flex: 0 0 auto;
	width: 3rem;
	height: 3rem;
}
.labels {
	flex: 1 1 auto;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	& > * {
		margin: 0;
	}
}
