.badge {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: calc(18em / 14);
}
.badge__icon {
	flex: 0 0 auto;
	font-size: 1.8em;
	margin-right: 6px;
	text-align: center;
}
.badge__icon__inner,
.badge__icon {
	line-height: calc(24em / 14);
	width: calc(24em / 14);
	text-align: center;
}
.badge__icon__inner {
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.badge__labels {
	flex: 1 1 auto;
}
.badge__labels > * {
	margin: 0;
}
