@import url('./style/meta.css');

@import url('./components/GameUI.css');
@import url('./components/atoms/FillBar.css');
@import url('./entities/PersonEntityDetails.css');
@import url('./inventory/InventoryUI.css');
@import url('./inventory/InventoryStack.css');
@import url('./components/atoms/Badge.css');
@import url('./components/atoms/CollapsibleWindow.css');
@import url('./map/MapTerrain.css');
@import url('./map/MapTile.css');
@import url('./components/atoms/Table.css');
@import url('./components/BehaviorTree.css');
@import url('./components/createContextMenu.css');
@import url('./map/MapEntity.css');
@import url('./map/MapTileContextMenu.css');
@import url('./application/GameClock.css');
@import url('./application/GameMap.css');
@import url('./application/GamePanels.css');
@import url('./application/GameNavigation.css');
/* @import url('./components/EntityList.css'); */

:root {
	--line-height: 18px;
	--border-radius-medium: 6px;

	--panel-background-color: rgba(255, 255, 255, 0.5);
	--panel-backdrop-filter: blur(20px);
}

body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: var(--line-height);
	/* font-weight:bold */
}
* {
	font-size: inherit;
	text-align: inherit;
}
